body {
    background-color: #f8f8f8;
    margin: 0%;
}
/*Search Bar*/
.searchBar {
    height: 65px;
    background-color: white;
    align-self: center;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 500;
}
.mediumLogo {
    height: 45px;
    width: auto;
    align-self: center;
}
.menu{
    width: auto;
    height: 30px;
    display: flex;
    align-self: center;
}
.buttons {
    height: 28px;
    width: auto;
    margin-right: 10px;
}
.upgrade {
    
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
.upgrade p {
    margin: 5px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.user {
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.user p {
    font-family: Arial, Helvetica, sans-serif;
}
/*Main Content*/
/*Article Bar*/
.mainContent {
    height: auto;
    width: 1903;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.articleBar {
    height: auto;
    width: 900px;
    min-width: 743px;
    margin-left: 7%;
    margin-right: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: #c0c0c0 solid;
    border-width: 1px;
}
.feed {
    align-self: flex-start;
    padding-top: 56px;
    width: 90%;
    display: flex;
    flex-direction: row;
    border-bottom: #c0c0c0 solid;
    border-width: 1px;
    
}
.feed h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #c0c0c0;
    font-size: 15px;
    padding-right: 15px;
    margin-bottom: 0%;
    padding-bottom: 15px;
}
.feed h4:hover {
    color: dimgray;
    border-bottom: dimgray solid;
    border-width: 1px;
}
/*Articles*/
.articles {
    padding-top: 56px;
}
.entry {
    width: 90%;
    height: 134px;
    margin-bottom: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text {
    min-width: 500px;
    padding-right: 30px;
}

.image {
    width: 200px;
    height: 140px;
    min-width: 200px;
}
.articleImage {
    width: 100%;
    height:100%;
    object-fit: cover;
}
.author {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 2px;
    
}
.authorPhoto {
    width: 30px;
    height: 30px;
    padding-right: 15px;
}
.authorPhotoImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.entry p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    align-self: center;
}
.entry h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #31363a;
    margin-top: 0px;
    margin-bottom: 5px;
}
.content {
    padding-bottom: 8px;
}
.content p {
    color: #c0c0c0;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}
.info {
    display: flex;
}
.info p {
    padding-right: 5px;
}
.bottom p {
    color: #c0c0c0;
}
.infoIcons {
    width: 20px;
}
.infoIcons2 {
    width: 20px;
}
/*Side Bar*/
.sideBar {
    height: 300px;
    width: 470px;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    padding-top: 56px;
    position: sticky;
    /*top: 0;*/
}
.socials {
    border-bottom: #c0c0c0 solid;
    border-width: 1px;
}
.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logos p {
    align-self: center;
    font-size: 30px;
}
.mediumImg {
    width: 80px;
    height: 80px;
    align-self: center;
}
.twitterImg {
    width: 40px;
    height: 40px;
    align-self: center;
    padding-left: 10px;
}
.discover {
    display: flex;
    flex-direction: column;
}
.discover p {
    align-self: center;
    color: gray;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: #e7e9eb;
    border-style: solid;
    width: 50%;
    margin-top: 20px;
    align-self: center;
    border-radius: 30px 30px 30px 30px;
}
.twitterSmall {
    height: 30px;
    width: auto;
    align-self: center;
}
.large {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    margin: 0px;
}
.recommendation {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.recommendation h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #31363a;
}
.rt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.topics {
    background-color: #e7e9eb;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px 20px 20px 20px;
}
.fallow {
    padding-bottom: 40px;
}
.fallow h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #31363a;
}
.profiles {
    display: flex;
    flex-direction: row;
    min-width: 421px;
    margin-bottom: 20px;
}
.profilesLeft {
    width: 50px;
    height: 50px;
    padding-right: 25px;
    align-self: flex-start ;
}
.profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profilesCentre {
    padding-right: 25px;
    min-width: 222px;
    max-width: 223px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.profilesCentre h6 {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #31363a;
    font-size: 15px;
    font-weight: 800;
    padding-bottom: 5px;
}
.profilesCentre p {
    margin: 0px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.profilesRight {
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    border: gray solid;
    border-width: 1px;
    border-radius: 20px 20px 20px 20px;
}
.profilesRight p {
    color: gray;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.savedArticle {
    display: flex;
    flex-direction: column;
}
.savedArticle h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #31363a;
}
.section1 {
    display: flex;
    flex-direction: row;

}
.sbAuthor {
    width: 20px;
    height: 20px;
    padding-right: 15px;
    align-self: center;
    border-radius: 20%;
}
.sbBold {
    font-weight: bolder;
    padding-right: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #31363a; 
}
.sbGray {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 3px;
    color: gray;
}
.section3 {
    display: flex;
    flex-direction: row;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.section3 p {
    padding-right: 3px;
}
.savedArticle h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #31363a;
    margin: 0px;
}
.terms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;
}
.terms p {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 30px;
}